In [4]:
import pandas as pd 
import sqlite3

In [7]:
connection = sqlite3.connect('olist.db')


df_reviews = pd.read_sql_query('SELECT * FROM Reviews', connection)

connection.close()
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98410 entries, 0 to 98409
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98410 non-null  object
 1   order_id                 98410 non-null  object
 2   review_score             98410 non-null  int64
 3   review_comment_title     98410 non-null  object
 4   review_comment_message   98410 non-null  object
 5   review_creation_date     98410 non-null  object
 6   review_answer_timestamp  98410 non-null  object
 7   timestamp_field_7        27 non-null     object
dtypes: int64(1), object(7)
memory usage: 6.0+ MB

## Nettoyage des donnÃ©es

In [13]:
df_reviews = df_reviews.drop(["timestamp_field_7"],axis=1)

df_reviews.info()

KeyError: "['timestamp_field_7'] not found in axis"

## Gestion des doublons

In [21]:
df_reviews = df_reviews.drop_duplicates(['order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date'])

In [22]:
df_reviews.shape

(98371, 7)

### Analyse

In [16]:
df_reviews.drop_duplicates(['order_id']).shape

(98167, 7)

In [17]:
df_reviews.drop_duplicates(['review_id']).shape

(98410, 7)

In [18]:
df_reviews[['order_id']].value_counts()

order_id
7b1219cc26d69c357880055b52d87960    2
0b5588f04551d90ee148462bb65dfddf    2
9de38c42ea4d33af19aac6c4d6c4b146    2
4d006fbdecd41058974d5d99f2d69650    2
03515a836bb855b03f7df9dee520a8fc    2
                                   ..
557c1116cc609730b617567dec5790b3    1
557a4667291301e8bf807fca57f21d3e    1
5579e05d13430813508d862a0dd812fd    1
55788c74967dbef64cfde7d1db11e49d    1
fffe41c64501cc87c801fd61db3f6244    1
Name: count, Length: 98167, dtype: int64

In [20]:
df_reviews.loc[df_reviews['order_id'] == '7b1219cc26d69c357880055b52d87960', :]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
76179,58171a7606dfe74e31f874852a22dccc,7b1219cc26d69c357880055b52d87960,5,,,2017-08-02 00:00:00,2017-08-03 09:13:05
92293,d48422d17e29a8978034917672636d80,7b1219cc26d69c357880055b52d87960,5,,,2017-08-02 00:00:00,2017-08-05 09:46:00

## Gestion types de donnÃ©es

In [25]:
df_reviews.review_creation_date = pd.to_datetime(df_reviews['review_creation_date'], format= '%Y-%m-%d %H:%M:%S', errors= 'coerce')

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_9468\3610410706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews.review_creation_date = pd.to_datetime(df_reviews['review_creation_date'], format= '%Y-%m-%d %H:%M:%S', errors= 'coerce')

In [26]:
df_reviews.review_answer_timestamp = pd.to_datetime(df_reviews['review_answer_timestamp'], format= '%Y-%m-%d %H:%M:%S', errors= 'coerce')

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_9468\2349761223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews.review_answer_timestamp = pd.to_datetime(df_reviews['review_answer_timestamp'], format= '%Y-%m-%d %H:%M:%S', errors= 'coerce')

In [27]:
df_reviews.tail()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
98405,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,,,2018-07-07,2018-07-14 17:18:30
98406,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,,,2017-12-09,2017-12-11 20:06:42
98407,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,,"Excelente mochila, entrega super rÃ¡pida. Super...",2018-03-22,2018-03-23 09:10:43
98408,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,,,2018-07-01,2018-07-02 12:59:13
98409,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49

In [28]:
df_reviews.review_creation_date

0       2018-04-13
1       2017-04-30
2       2017-09-29
3       2018-01-18
4       2018-03-28
           ...
98405   2018-07-07
98406   2017-12-09
98407   2018-03-22
98408   2018-07-01
98409   2017-07-03
Name: review_creation_date, Length: 98371, dtype: datetime64[ns]

In [29]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98371 entries, 0 to 98409
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98371 non-null  object
 1   order_id                 98371 non-null  object
 2   review_score             98371 non-null  int64
 3   review_comment_title     98371 non-null  object
 4   review_comment_message   98371 non-null  object
 5   review_creation_date     98368 non-null  datetime64[ns]
 6   review_answer_timestamp  98344 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.0+ MB

### Remplacement des dates manquantes

In [30]:
df_reviews.loc[df_reviews['review_answer_timestamp'].isna(),:]['review_score'].value_counts()

review_score
5    16
4     6
1     2
3     2
2     1
Name: count, dtype: int64

In [32]:
df_reviews = df_reviews.dropna(subset = ['review_creation_date', 'review_answer_timestamp'])

In [33]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98344 entries, 27 to 98409
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98344 non-null  object
 1   order_id                 98344 non-null  object
 2   review_score             98344 non-null  int64
 3   review_comment_title     98344 non-null  object
 4   review_comment_message   98344 non-null  object
 5   review_creation_date     98344 non-null  datetime64[ns]
 6   review_answer_timestamp  98344 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.0+ MB

## Consistance des donnÃ©es

In [34]:
df_reviews['review_score'].value_counts()

review_score
5    56866
4    18993
1    11277
3     8095
2     3113
Name: count, dtype: int64